*{
   margin: 0;
}
body{
   
}

table {
    margin: auto;
   }
td{
    border: 1px solid black;

}
.hour{
    color: red;
   
}
#divForm{
    background: green;
    height: 20px;
    padding: 10px;
    padding-left: 50px;
}
.tableName{
    background: DeepSkyBlue;
    text-align: center;
}	